n8n-workflows/utilities/Generate Test Emails One Node per Provider.json
{
  "name": "Generate Test Emails One Node per Provider",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        160
      ],
      "id": "97f4956f-868c-4a7f-b17c-181ba2e0918e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "bodyContent": "={{ $json.message.content.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        -80
      ],
      "id": "401280ac-0d26-4fd1-9eeb-6ebe6165d570",
      "name": "Send a message",
      "webhookId": "a634c026-c5aa-4b0c-8af5-75a6c1102773",
      "retryOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "LKRWqIkwrq607rRx",
          "name": "Frank Smith"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "bodyContent": "={{ $json.message.content.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        112
      ],
      "id": "583404ad-8051-4570-906d-df7059c2108b",
      "name": "Send a message1",
      "webhookId": "a634c026-c5aa-4b0c-8af5-75a6c1102773",
      "retryOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "ALwD8JEe7huu6err",
          "name": "Mary Winston"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Here’s a revised, copy-pasteable prompt you can drop into your n8n “Message a Model” node. It forces **uniform random** topic selection, increases variety, and tightens output rules.\n\n```\n#[Role]\nYou are a test-data generator that writes realistic emails used to validate AI automations.\n\n#[Goal]\nCreate a single email to this address: greg@bytezoggle.com\n\n#[Hard Randomization Rule — DO THIS FIRST]\n1) Generate a 2-character hex token T in [00–ff].\n2) Let N = decimal value of T.\n3) Choose the topic with uniform distribution using: topicIndex = N % 5\n   0 → Interest in AI Automation services offered by ByteZoggle\n   1 → Collaboration request for a podcast on AI Automation\n   2 → Complaint about a bad experience with a ByteZoggle employee\n   3 → Cancelation of an appointment/meeting\n   4 → Overdue invoice payment request to ByteZoggle\n\n(Do not deviate from this mapping. This prevents over-selection of any one topic.)\n\n#[Additional Variety Knobs]\nUsing the same N, set:\n- tone = [\"friendly\", \"professional\", \"formal\", \"concise\", \"warm\"][ (N % 5) ]\n- formality = [\"low\", \"medium\", \"high\"][ (N % 3) ]\n- region_hint = [\"US\", \"UK\", \"Canada\", \"Australia\", \"EU\"][ (N % 5) ]\n- writing_style = [\"plain\", \"story-like\", \"bullet-light\", \"direct\", \"consultative\"][ (N % 5) ]\nVary word choice, sentence length, and structure. Avoid repeating stock phrases across runs.\n\n#[Subject Requirements]\n- Write a concise subject (5–12 words), no emojis.\n- It must clearly match the chosen topic.\n- Vary phrasing each run.\n\n#[Body Requirements]\n- Length: 300–500 words.\n- Plain text only (no Markdown).\n- Match the chosen topic and the selected tone/formality/style.\n- Include brief, believable specifics (dates/times/roles/companies/industries) generated by you.\n- End with a friendly close and a signature block exactly like:\n  [Your Name]\n  [Your Position]\n  [Your Company]\n  [Your Contact Information]\n\n#[Topic-Specific Content Rules]\nIf topicIndex = 0 (Interest in AI Automation services):\n- State you are the owner or lead at a company in a randomly chosen industry (e.g., landscaping, dental clinic, HVAC, boutique retail, logistics, accounting, legal, fitness, non-profit).\n- Mention 2–3 processes that could benefit from automation (scheduling, lead triage, invoice reminders, CRM updates, inventory sync, call summaries, etc.).\n- Ask 1–2 concrete discovery questions; suggest 2 time windows to meet.\n\nIf topicIndex = 1 (Podcast collaboration):\n- Describe your show (audience type/size, cadence, format), 2–3 proposed topics, desired recording window, and cross-promotion ideas.\n- Reference how ByteZoggle’s work would bring value to listeners.\n\nIf topicIndex = 2 (Complaint about service):\n- Describe a specific incident with an employee (role, location or channel, approximate date/time).\n- Explain the behavior, impact on you/your business, and the resolution you seek (apology, retraining, discount, redo, follow-up call).\n- Keep tone firm but professional; request acknowledgment and a corrective path.\n\nIf topicIndex = 3 (Cancel appointment):\n- Refer to a realistic meeting date/time you “had scheduled” about AI automations.\n- Give a believable reason for cancelation (urgent client escalation, travel issue, staff outage, systems outage, etc.).\n- Offer 2–3 alternative time slots next week; apologize for the inconvenience.\n\nIf topicIndex = 4 (Overdue invoice to ByteZoggle):\n- Friendly tone, gentle reminder.\n- Include the following with random values in realistic formats:\n  Invoice number: <alphanumeric, e.g., ZX-48217 or INV-2025-1034>\n  Invoice date: <a past date>\n  Current balance due: <random between $500 and $2000>\n- Offer payment options or ask for a confirmation of remittance; invite questions.\n\n#[Output Format — STRICT]\nReturn ONLY a single JSON object with fields exactly:\n{\n  \"to\": \"greg@bytezoggle.com\",\n  \"subject\": \"<subject line here>\",\n  \"body\": \"<email body here>\"\n}\n- No Markdown, no code fences, no extra fields, no commentary.\n- Escape line breaks inside \"body\" as \\n.\n- Do not include placeholders like [INSERT]; generate all content.\n```\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "n": 1,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        -80
      ],
      "id": "907a062b-a777-4505-b0b0-4d0b48f5f938",
      "name": "Send a Message One",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Here’s a revised, copy-pasteable prompt you can drop into your n8n “Message a Model” node. It forces **uniform random** topic selection, increases variety, and tightens output rules.\n\n```\n#[Role]\nYou are a test-data generator that writes realistic emails used to validate AI automations.\n\n#[Goal]\nCreate a single email to this address: greg@bytezoggle.com\n\n#[Hard Randomization Rule — DO THIS FIRST]\n1) Generate a 2-character hex token T in [00–ff].\n2) Let N = decimal value of T.\n3) Choose the topic with uniform distribution using: topicIndex = N % 5\n   0 → Interest in AI Automation services offered by ByteZoggle\n   1 → Collaboration request for a podcast on AI Automation\n   2 → Complaint about a bad experience with a ByteZoggle employee\n   3 → Cancelation of an appointment/meeting\n   4 → Overdue invoice payment request to ByteZoggle\n\n(Do not deviate from this mapping. This prevents over-selection of any one topic.)\n\n#[Additional Variety Knobs]\nUsing the same N, set:\n- tone = [\"friendly\", \"professional\", \"formal\", \"concise\", \"warm\"][ (N % 5) ]\n- formality = [\"low\", \"medium\", \"high\"][ (N % 3) ]\n- region_hint = [\"US\", \"UK\", \"Canada\", \"Australia\", \"EU\"][ (N % 5) ]\n- writing_style = [\"plain\", \"story-like\", \"bullet-light\", \"direct\", \"consultative\"][ (N % 5) ]\nVary word choice, sentence length, and structure. Avoid repeating stock phrases across runs.\n\n#[Subject Requirements]\n- Write a concise subject (5–12 words), no emojis.\n- It must clearly match the chosen topic.\n- Vary phrasing each run.\n\n#[Body Requirements]\n- Length: 300–500 words.\n- Plain text only (no Markdown).\n- Match the chosen topic and the selected tone/formality/style.\n- Include brief, believable specifics (dates/times/roles/companies/industries) generated by you.\n- End with a friendly close and a signature block exactly like:\n  [Your Name]\n  [Your Position]\n  [Your Company]\n  [Your Contact Information]\n\n#[Topic-Specific Content Rules]\nIf topicIndex = 0 (Interest in AI Automation services):\n- State you are the owner or lead at a company in a randomly chosen industry (e.g., landscaping, dental clinic, HVAC, boutique retail, logistics, accounting, legal, fitness, non-profit).\n- Mention 2–3 processes that could benefit from automation (scheduling, lead triage, invoice reminders, CRM updates, inventory sync, call summaries, etc.).\n- Ask 1–2 concrete discovery questions; suggest 2 time windows to meet.\n\nIf topicIndex = 1 (Podcast collaboration):\n- Describe your show (audience type/size, cadence, format), 2–3 proposed topics, desired recording window, and cross-promotion ideas.\n- Reference how ByteZoggle’s work would bring value to listeners.\n\nIf topicIndex = 2 (Complaint about service):\n- Describe a specific incident with an employee (role, location or channel, approximate date/time).\n- Explain the behavior, impact on you/your business, and the resolution you seek (apology, retraining, discount, redo, follow-up call).\n- Keep tone firm but professional; request acknowledgment and a corrective path.\n\nIf topicIndex = 3 (Cancel appointment):\n- Refer to a realistic meeting date/time you “had scheduled” about AI automations.\n- Give a believable reason for cancelation (urgent client escalation, travel issue, staff outage, systems outage, etc.).\n- Offer 2–3 alternative time slots next week; apologize for the inconvenience.\n\nIf topicIndex = 4 (Overdue invoice to ByteZoggle):\n- Friendly tone, gentle reminder.\n- Include the following with random values in realistic formats:\n  Invoice number: <alphanumeric, e.g., ZX-48217 or INV-2025-1034>\n  Invoice date: <a past date>\n  Current balance due: <random between $500 and $2000>\n- Offer payment options or ask for a confirmation of remittance; invite questions.\n\n#[Output Format — STRICT]\nReturn ONLY a single JSON object with fields exactly:\n{\n  \"to\": \"greg@bytezoggle.com\",\n  \"subject\": \"<subject line here>\",\n  \"body\": \"<email body here>\"\n}\n- No Markdown, no code fences, no extra fields, no commentary.\n- Escape line breaks inside \"body\" as \\n.\n- Do not include placeholders like [INSERT]; generate all content.\n```\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "n": 1,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        112
      ],
      "id": "05fe13bd-3646-42b6-ae48-842ca91d5dcf",
      "name": "Send a Message Two",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Here’s a revised, copy-pasteable prompt you can drop into your n8n “Message a Model” node. It forces **uniform random** topic selection, increases variety, and tightens output rules.\n\n```\n#[Role]\nYou are a test-data generator that writes realistic emails used to validate AI automations.\n\n#[Goal]\nCreate a single email to this address: greg@bytezoggle.com\n\n#[Hard Randomization Rule — DO THIS FIRST]\n1) Generate a 2-character hex token T in [00–ff].\n2) Let N = decimal value of T.\n3) Choose the topic with uniform distribution using: topicIndex = N % 5\n   0 → Interest in AI Automation services offered by ByteZoggle\n   1 → Collaboration request for a podcast on AI Automation\n   2 → Complaint about a bad experience with a ByteZoggle employee\n   3 → Cancelation of an appointment/meeting\n   4 → Overdue invoice payment request to ByteZoggle\n\n(Do not deviate from this mapping. This prevents over-selection of any one topic.)\n\n#[Additional Variety Knobs]\nUsing the same N, set:\n- tone = [\"friendly\", \"professional\", \"formal\", \"concise\", \"warm\"][ (N % 5) ]\n- formality = [\"low\", \"medium\", \"high\"][ (N % 3) ]\n- region_hint = [\"US\", \"UK\", \"Canada\", \"Australia\", \"EU\"][ (N % 5) ]\n- writing_style = [\"plain\", \"story-like\", \"bullet-light\", \"direct\", \"consultative\"][ (N % 5) ]\nVary word choice, sentence length, and structure. Avoid repeating stock phrases across runs.\n\n#[Subject Requirements]\n- Write a concise subject (5–12 words), no emojis.\n- It must clearly match the chosen topic.\n- Vary phrasing each run.\n\n#[Body Requirements]\n- Length: 300–500 words.\n- Plain text only (no Markdown).\n- Match the chosen topic and the selected tone/formality/style.\n- Include brief, believable specifics (dates/times/roles/companies/industries) generated by you.\n- End with a friendly close and a signature block exactly like:\n  [Your Name]\n  [Your Position]\n  [Your Company]\n  [Your Contact Information]\n\n#[Topic-Specific Content Rules]\nIf topicIndex = 0 (Interest in AI Automation services):\n- State you are the owner or lead at a company in a randomly chosen industry (e.g., landscaping, dental clinic, HVAC, boutique retail, logistics, accounting, legal, fitness, non-profit).\n- Mention 2–3 processes that could benefit from automation (scheduling, lead triage, invoice reminders, CRM updates, inventory sync, call summaries, etc.).\n- Ask 1–2 concrete discovery questions; suggest 2 time windows to meet.\n\nIf topicIndex = 1 (Podcast collaboration):\n- Describe your show (audience type/size, cadence, format), 2–3 proposed topics, desired recording window, and cross-promotion ideas.\n- Reference how ByteZoggle’s work would bring value to listeners.\n\nIf topicIndex = 2 (Complaint about service):\n- Describe a specific incident with an employee (role, location or channel, approximate date/time).\n- Explain the behavior, impact on you/your business, and the resolution you seek (apology, retraining, discount, redo, follow-up call).\n- Keep tone firm but professional; request acknowledgment and a corrective path.\n\nIf topicIndex = 3 (Cancel appointment):\n- Refer to a realistic meeting date/time you “had scheduled” about AI automations.\n- Give a believable reason for cancelation (urgent client escalation, travel issue, staff outage, systems outage, etc.).\n- Offer 2–3 alternative time slots next week; apologize for the inconvenience.\n\nIf topicIndex = 4 (Overdue invoice to ByteZoggle):\n- Friendly tone, gentle reminder.\n- Include the following with random values in realistic formats:\n  Invoice number: <alphanumeric, e.g., ZX-48217 or INV-2025-1034>\n  Invoice date: <a past date>\n  Current balance due: <random between $500 and $2000>\n- Offer payment options or ask for a confirmation of remittance; invite questions.\n\n#[Output Format — STRICT]\nReturn ONLY a single JSON object with fields exactly:\n{\n  \"to\": \"greg@bytezoggle.com\",\n  \"subject\": \"<subject line here>\",\n  \"body\": \"<email body here>\"\n}\n- No Markdown, no code fences, no extra fields, no commentary.\n- Escape line breaks inside \"body\" as \\n.\n- Do not include placeholders like [INSERT]; generate all content.\n```\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "n": 1,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        304
      ],
      "id": "8e49a364-36aa-424f-aa6d-e6109f66949a",
      "name": "Send a Message Three",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "bodyContent": "={{ $json.message.content.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        304
      ],
      "id": "0c069dff-598e-4b8f-856b-afe4df4e7116",
      "name": "Send a message2",
      "webhookId": "a634c026-c5aa-4b0c-8af5-75a6c1102773",
      "retryOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "3xeQxhQYN2vAgcm0",
          "name": "Bruce Packer"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Here’s a revised, copy-pasteable prompt you can drop into your n8n “Message a Model” node. It forces **uniform random** topic selection, increases variety, and tightens output rules.\n\n```\n#[Role]\nYou are a test-data generator that writes realistic emails used to validate AI automations.\n\n#[Goal]\nCreate a single email to this address: greg@bytezoggle.com\n\n#[Hard Randomization Rule — DO THIS FIRST]\n1) Generate a 2-character hex token T in [00–ff].\n2) Let N = decimal value of T.\n3) Choose the topic with uniform distribution using: topicIndex = N % 5\n   0 → Interest in AI Automation services offered by ByteZoggle\n   1 → Collaboration request for a podcast on AI Automation\n   2 → Complaint about a bad experience with a ByteZoggle employee\n   3 → Cancelation of an appointment/meeting\n   4 → Overdue invoice payment request to ByteZoggle\n\n(Do not deviate from this mapping. This prevents over-selection of any one topic.)\n\n#[Additional Variety Knobs]\nUsing the same N, set:\n- tone = [\"friendly\", \"professional\", \"formal\", \"concise\", \"warm\"][ (N % 5) ]\n- formality = [\"low\", \"medium\", \"high\"][ (N % 3) ]\n- region_hint = [\"US\", \"UK\", \"Canada\", \"Australia\", \"EU\"][ (N % 5) ]\n- writing_style = [\"plain\", \"story-like\", \"bullet-light\", \"direct\", \"consultative\"][ (N % 5) ]\nVary word choice, sentence length, and structure. Avoid repeating stock phrases across runs.\n\n#[Subject Requirements]\n- Write a concise subject (5–12 words), no emojis.\n- It must clearly match the chosen topic.\n- Vary phrasing each run.\n\n#[Body Requirements]\n- Length: 300–500 words.\n- Plain text only (no Markdown).\n- Match the chosen topic and the selected tone/formality/style.\n- Include brief, believable specifics (dates/times/roles/companies/industries) generated by you.\n- End with a friendly close and a signature block exactly like:\n  [Your Name]\n  [Your Position]\n  [Your Company]\n  [Your Contact Information]\n\n#[Topic-Specific Content Rules]\nIf topicIndex = 0 (Interest in AI Automation services):\n- State you are the owner or lead at a company in a randomly chosen industry (e.g., landscaping, dental clinic, HVAC, boutique retail, logistics, accounting, legal, fitness, non-profit).\n- Mention 2–3 processes that could benefit from automation (scheduling, lead triage, invoice reminders, CRM updates, inventory sync, call summaries, etc.).\n- Ask 1–2 concrete discovery questions; suggest 2 time windows to meet.\n\nIf topicIndex = 1 (Podcast collaboration):\n- Describe your show (audience type/size, cadence, format), 2–3 proposed topics, desired recording window, and cross-promotion ideas.\n- Reference how ByteZoggle’s work would bring value to listeners.\n\nIf topicIndex = 2 (Complaint about service):\n- Describe a specific incident with an employee (role, location or channel, approximate date/time).\n- Explain the behavior, impact on you/your business, and the resolution you seek (apology, retraining, discount, redo, follow-up call).\n- Keep tone firm but professional; request acknowledgment and a corrective path.\n\nIf topicIndex = 3 (Cancel appointment):\n- Refer to a realistic meeting date/time you “had scheduled” about AI automations.\n- Give a believable reason for cancelation (urgent client escalation, travel issue, staff outage, systems outage, etc.).\n- Offer 2–3 alternative time slots next week; apologize for the inconvenience.\n\nIf topicIndex = 4 (Overdue invoice to ByteZoggle):\n- Friendly tone, gentle reminder.\n- Include the following with random values in realistic formats:\n  Invoice number: <alphanumeric, e.g., ZX-48217 or INV-2025-1034>\n  Invoice date: <a past date>\n  Current balance due: <random between $500 and $2000>\n- Offer payment options or ask for a confirmation of remittance; invite questions.\n\n#[Output Format — STRICT]\nReturn ONLY a single JSON object with fields exactly:\n{\n  \"to\": \"greg@bytezoggle.com\",\n  \"subject\": \"<subject line here>\",\n  \"body\": \"<email body here>\"\n}\n- No Markdown, no code fences, no extra fields, no commentary.\n- Escape line breaks inside \"body\" as \\n.\n- Do not include placeholders like [INSERT]; generate all content.\n```\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "n": 1,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -256,
        496
      ],
      "id": "1868606d-32e3-4094-b25f-93492f2d2a5a",
      "name": "Send a Message Four",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.message.content.to }}",
        "subject": "={{ $json.message.content.subject }}",
        "bodyContent": "={{ $json.message.content.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        496
      ],
      "id": "548d8c04-0154-4747-9779-43603ca97e94",
      "name": "Send a message3",
      "webhookId": "a634c026-c5aa-4b0c-8af5-75a6c1102773",
      "retryOnFail": true,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "C1ZnIZHYiXfJfiK1",
          "name": "Hiroshi Inogashira"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Send a Message One",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a Message Two",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a Message Three",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a Message Four",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message One": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message Two": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message Three": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message Four": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc6dfbdc-3527-4943-9fb7-2835555e65a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fff45e06556ddb46eb6f558e556b9b67a7bcf4f94dfa0cca7550d16dc81ad93c"
  },
  "id": "mdNmJH5CNCBxlLWb",
  "tags": []
}