n8n-workflows/utilities/Respond to Interest in AI Automations.json
{
  "name": "Respond to Interest in AI Automations",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "c84cd8b1-cbf8-479f-86c2-028dfb6da829",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "183d08c1-8332-4f2b-9eb4-1437f1cd2230",
      "name": "Get many messages",
      "webhookId": "20773452-9eda-43db-b7ff-73e059201304",
      "credentials": {
        "gmailOAuth2": {
          "id": "lVBhxCXwTW5jZgqJ",
          "name": "greg@bytezoggle.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70b526b0-137d-4f80-8654-64a50929340e",
              "leftValue": "={{ $json.message.content.is_interest }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "94acf721-2128-410c-b494-c095d5fd25b7",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert email screener for an AI automation company. \nYour job: from a single inbound email (subject, from, body, metadata), decide if it expresses interest in hearing more about your AI automation services.\n\nIf you determine that the email is expressing interest in your company's AI automation services, in your output you will set the is_interest property to true otherwise set it to false.\n\nYou need to craft a reply email that does the following:\n- thanks the sender for expressing interest in your AI automation services\n- expresses your enthusiasm for learning more about the sender's business and opportunities to automate some of their operations\n- informs the sender that a member of your company's outreach team will contact them within 48 hours\n- expresses once again your appreciation for their reaching out\n\nOutput EXACTLY one JSON object with the schema below—no prose before or after.\n\nOutput JSON schema (all keys required):\n{\n  \"email_id\": \"<string>\",\n  \"thread_id\": \"<string>\",\n  \"subject\": \"<string>\",\n  \"sender_name\": \"<string>\",\n  \"sender_email\": \"<string>\",\n  \"sender_company\": \"<string|null>\",\n  \"is_interest\": <true|false>\n}\n",
              "role": "system"
            },
            {
              "content": "=You will receive one email at a time.\n\nMetadata:\n- Message ID: {{ $json.messageId }}\n- Thread ID: {{ $json.threadId }}\n- From: {{ $json.from }}        // e.g., \"Name <email@domain.com>\"\n- Subject: {{ $json.subject }}\n\nEmail body (prefer text if available):\n{{ $json.text || $json.html }}\n\nIMPORTANT:\n- Parse any visible signature to help infer sender_name/company if present.\n- If company is not stated, return \"null\" for sender_company.\n- Follow the System instructions and return EXACTLY one JSON object per the schema.\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        0
      ],
      "id": "784d8a22-3806-4840-9bb3-b2d1b59181e4",
      "name": "Classifier",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the classifier output for one email (verbatim JSON):\n\n{{ JSON.stringify($json) }}\n\nAdditional context for the reply:\n- Your name: Greg Lafrance\n- Your brand/org: ByteZoggle\n- Timezone: America/New_York\n\nInstructions:\n- If classifier.should_respond is false, return the {\"is_interest\": false, ...} JSON as specified.\n- If true, produce the {\"is_interest\": true, ...} JSON with:\n   - to = {{ JSON.stringify($json.message.content.sender_email) }}\n   - subject = \"Re: \" + ({{ $('Classifier').item.json.message.content.subject }} or a concise equivalent)\n   - body_text = a polished, concise email that:\n      - thanks the sender for expressing interest in your AI automation services\n      - expresses your enthusiasm for learning more about the sender's business and opportunities to automate some of their operations\n      - informs the sender that a member of your company's outreach team will contact them within 48 hours\n      - expresses once again your appreciation for their reaching out\n      - Signs off with Greg Lafrance and ByteZoggle.\n         - in_reply_to = classifier.email_id\n         - thread_id = classifier.thread_id\n\nReturn only the JSON object per the System Output contract—no extra prose.\n"
            },
            {
              "content": "=You are an expert email screener for an AI automation company. \nYour job: from a single inbound email (subject, from, body, metadata), decide if it expresses interest in hearing more about your AI automation services.\n\nIf you determine that the email is expressing interest in your company's AI automation services, in your output you will set the is_interest property to true otherwise set it to false.\n\nYou need to craft a reply email that does the following:\n- thanks the sender for expressing interest in your AI automation services\n- expresses your enthusiasm for learning more about the sender's business and opportunities to automate some of their operations\n- informs the sender that a member of your company's outreach team will contact them within 48 hours\n- expresses once again your appreciation for their reaching out\n\nOutput EXACTLY one JSON object with the schema below—no prose before or after.\n\nOutput JSON schema (all keys required):\n{\n  \"email_id\": \"<string>\",\n  \"thread_id\": \"<string>\",\n  \"subject\": \"<string>\",\n  \"sender_name\": \"<string>\",\n  \"sender_email\": \"<string>\",\n  \"sender_company\": \"<string|null>\",\n  \"is_interest\": <true|false>,\n  \"email_body\": \"<string>\"\n}\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1152,
        -128
      ],
      "id": "663a2001-d1c1-4989-9ee5-ad2c872d29b9",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "GSfJHfQqDDmjBjsa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.sender_email }}",
        "subject": "={{ $json.message.content.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1488,
        -128
      ],
      "id": "da562db6-b5f2-46a8-8423-76768ca993d7",
      "name": "Send a message",
      "webhookId": "2694ec37-ca3b-4250-8753-56eca2e3eeaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "lVBhxCXwTW5jZgqJ",
          "name": "greg@bytezoggle.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1152,
        96
      ],
      "id": "abd5145d-c7af-4983-9cca-76ee03e3c119",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2313bf3-a83e-4344-8205-dfad2cb8a279",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fff45e06556ddb46eb6f558e556b9b67a7bcf4f94dfa0cca7550d16dc81ad93c"
  },
  "id": "wGU0k0Bmcv0DQemq",
  "tags": []
}